

<div class="container">
	

	<div *ngFor="let para of versions[0]; index as j" class="row">
		<div class="col-md-4" [innerHTML]="this.comparison.left[j]">
		</div>

		<div class="col-md-4" [innerHTML]="this.comparison.right[j]">
		</div>

	</div>

  <div *ngFor="let para of versions[0]; index as i" class="row">
  <div class="col-md-4" [innerHTML]="this.parseJsonParaToHtmlPara(versions[0][i])"></div>

    <div class="col-md-4" [innerHTML]="this.parseJsonParaToHtmlPara(versions[1][i])"></div>

  <div class="col-md-4" [innerHTML]="this.parseJsonParaToHtmlPara(versions[2][i])"></div>
  </div>





</div>


