<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="assets/img/ngx-bootstrap.svg" class="logo"></a>
            <span class="navbar-brand">supersexy nav</span>
        </div>

    </div>
</nav>

<div class="container">
     
  

    <a routerLink="/overview" type="button" class="btn btn-primary" tooltip="Show all three texts without comparison markup.">
    Overview</a>
    <a routerLink="compare/1817-1827" type="button" class="btn btn-primary" tooltip="Show the differences between the 1817 and 1827 versions.">
    1817 vs 1827
    </a>
    <a routerLink="compare/1817-1830" type="button" class="btn btn-primary" tooltip="Show the differences between the 1817 and 1830 versions.">
    1817 vs 1830
    </a>
    <a routerLink="compare/1827-1830" type="button" class="btn btn-primary" tooltip="Show the differences between the 1827 and 1830 versions.">
    1827 vs 1830
    </a>

<!--    <button type="button" class="btn btn-info" (click)="openModal(template)">Create template modal</button> -->

    <!-- <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">&times;</span>
       </button>
        </div>
        <div class="modal-body">
            This is a modal.
        </div>
    </ng-template>-->
